body {
	margin: 2;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
h1{
  font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
h2{
  color: red;
  font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
h3{
  color: red;
  font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	font-weight: 300;
}
#main-header{
	background: #000;
	color: white;
	height: 130px;
}	
#main-header a{
		color: white;
}
 
/*
 * Logo
 */
.site-name{
  font-size:2em;
}
#logo-header{
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header .site-name:hover{
	color: red;
}	
#logo-header .site-desc{
	display: block;
	font-weight: 500;
	font-size: 2em;
	color: #999;
}
	
/*
 * Navegación
 */
nav{
	float: right;
}
	nav ul{
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
		nav ul li{
			display: inline-block;
			line-height: 80px;
		}
			nav ul li a{
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			  	nav ul li a:hover{
					background: red;
				}